p {
  color: ffffff;
  font-family: courier
}
h1 {
  color: #ff9900;
  font-family: courier
}
h2 {
  color: #ff9900;
  font-family: courier
}
footer {
  color: #ffffff;
  background-color: #ff9900;
  font-family: courier
}
body {
  background-color: #000000
}
table {
  color: #ffffff;
  font-family: courier
}
b {
  color: #ffffff;
  font-family: courier
}
i {
  color: #ffffff
}
